<nav class="tw-bg-gradient-to-r tw-from-[#1b1b1b] tw-to-[#3b3b3b] tw-sticky tw-top-0 tw-z-50">
    <div class="tw-py-[0.3rem] tw-px-[1rem] tw-text-white tw-flex tw-items-center tw-mx-auto xl:tw-w-[95%] xl:tw-gap-4">
        <button class="tw-w-8 tw-h-5 tw-flex tw-flex-col tw-justify-between xl:tw-hidden">
            <p class="tw-w-full tw-h-[1px] tw-text-transparent tw-bg-white"></p>
            <p class="tw-w-full tw-h-[1px] tw-text-transparent tw-bg-white"></p>
            <p class="tw-w-full tw-h-[1px] tw-text-transparent tw-bg-white"></p>
        </button>
        <div class="tw-flex tw-w-full tw-justify-center xl:tw-block xl:tw-w-auto tw-pr-[18px]">
            <a href="/" rel="Webqlo Home Page">
                <img src={{logoUrl}} alt="Webqlo image" class="tw-w-auto tw-h-[35px]">
            </a>
        </div>
        <div class="tw-hidden xl:tw-flex tw-w-full tw-py-[5px] tw-px-[15px] tw-justify-end tw-h-11">
            <ul class="tw-uppercase tw-flex tw-flex-row tw-gap-7 tw-items-center">
                <li>
                    <a href="/who-we-are"
                        class="tw-text-white tw-text-opacity-50 hover:tw-text-opacity-100 tw-whitespace-nowrap tw-p-2 tw-text-[15px] tw-leading-5">who we are</a>
                </li>
                <li>
                    <a href="/what-we-do"
                        class="tw-text-white tw-text-opacity-50 hover:tw-text-opacity-100 tw-whitespace-nowrap tw-p-2 tw-text-[15px] tw-leading-5">what we do</a>
                </li>
                <li>
                    <a href="/our-work"
                        class="tw-text-white tw-text-opacity-50 hover:tw-text-opacity-100 tw-whitespace-nowrap tw-p-2 tw-text-[15px] tw-leading-5">our work</a>
                </li>
                <li>
                    <a href="/headlines"
                        class="tw-text-white tw-text-opacity-50 hover:tw-text-opacity-100 tw-whitespace-nowrap tw-p-2 tw-text-[15px] tw-leading-5">headlines</a>
                </li>
                <li>
                    <a href="/contact-us"
                        class="tw-text-white tw-text-opacity-50 hover:tw-text-opacity-100 tw-whitespace-nowrap tw-p-2 tw-text-[15px] tw-leading-5">contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>