<nav class="bg-gradient-to-r from-[#1b1b1b] to-[#3b3b3b]">
    <div class="py-[0.3rem] px-[1rem] text-white flex items-center mx-auto xl:w-[95%] xl:gap-4">
        <button class="w-8 h-5 flex flex-col justify-around xl:hidden">
            <span class="w-full h-[1px] text-transparent bg-white">a</span>
            <span class="w-full h-[1px] text-transparent bg-white">a</span>
            <span class="w-full h-[1px] text-transparent bg-white">a</span>
        </button>
        <div class="flex w-full justify-center xl:block xl:w-auto">
            <a href="/" rel="Webqlo Home Page">
                <img src={{logoUrl}} alt="Webqlo image" class="w-auto h-[35px]">
            </a>
        </div>
        <div class="hidden xl:flex w-full py-[5px] px-[15px] justify-end h-11">
            <ul class="uppercase flex flex-row gap-6 items-center">
                <li>
                    <a href="/who-we-are"
                        class="text-[#ffffff] text-opacity-50 hover:text-opacity-100 whitespace-nowrap p-2 text-[15px] leading-5">who we are</a>
                </li>
                <li>
                    <a href="/what-we-do"
                        class="text-[#ffffff] text-opacity-50 hover:text-opacity-100 whitespace-nowrap p-2 text-[15px] leading-5">what we do</a>
                </li>
                <li>
                    <a href="/our-work"
                        class="text-[#ffffff] text-opacity-50 hover:text-opacity-100 whitespace-nowrap p-2 text-[15px] leading-5">our work</a>
                </li>
                <li>
                    <a href="/headlines"
                        class="text-[#ffffff] text-opacity-50 hover:text-opacity-100 whitespace-nowrap p-2 text-[15px] leading-5">headlines</a>
                </li>
                <li>
                    <a href="/contact-us"
                        class="text-[#ffffff] text-opacity-50 hover:text-opacity-100 whitespace-nowrap p-2 text-[15px] leading-5">contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>