<div class="tw-bg-black-light tw-text-black tw-pt-12 tw-pb-16">
    <div class="tw-max-w-[1280px] tw-mx-auto tw-px-4 tw-flex tw-flex-col tw-items-center">
        <h2 class="tw-py-8 tw-font-bold tw-uppercase tw-text-center tw-text-xl sm:tw-text-2xl md:tw-text-3xl">{{title}}</h2>
        <p class="tw-font-medium tw-font-sans tw-text-center tw-max-w-[800px] tw-text-base sm:tw-text-lg md:tw-text-2xl">{{description}}</p>
        <div class="tw-mt-20">
            <a href="{{button.href}}" class="tw-w-fit tw-bg-black tw-text-white tw-font-sans tw-border-b-[3px] tw-border-r-[3px]
                                            tw-border-white tw-font-bold tw-text-base tw-leading-[50px] tw-py-[12px] tw-px-7 tw-tracking-wider
                                            sm:tw-text-xl sm:tw-py-[10px] sm:tw-px-[30px]"
                style="box-shadow: 3px 3px 0 0 #1d202f;">{{button.text}}</a>
        </div>
    </div>
</div>